*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(252, 252, 252);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-sec{
    background: rgba(0, 0, 0, 0.241);
    width: 50%;
    height: 500px;
    text-align: center;
    margin:  20px 30%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(250, 241, 108, 0.172);
    justify-content: center;
}
.imglogo{
    padding: 10px;
    margin: 10px;
}
input{
    display: block;
    width: 80%;
    padding: 10px 10px;
    margin: 20px auto;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid grey;
    color: white;
    font-size: 20px;
}
input:hover{
    background: none;
}
input:focus{
    background: rgba(2, 2, 2, 0.022);
    box-shadow: 0px 0px 50px 0px rgba(1, 196, 255, 0.104);
}
.pass-btn{
    background: rgba(4, 4, 255, 0.112);
    box-shadow: 0px 0px 50px 0px rgba(255, 255, 255, 0.104);
    display: block;
    border-radius: 15px;
    width: 200px;
    margin: 30px auto;
    border: none;
}
.pass-btn:hover{
    background: rgba(10, 10, 10, 0.33);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.234);
    cursor: pointer;
}

.ftrcls{
    display: block;
}
.a2{
    text-decoration: none;
    color: rgb(75, 109, 182);
    text-align: center;
    width: 100%;
    padding: 10px 1px;
    margin: 10px 1px;
}
.a2:hover{
    color: rgb(7, 85, 253);
}

.animate-btn{
    position: relative;
    animation: akash 1s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
@keyframes akash {
    0%   {top: 0px;}
    25%  {top: 10px;}
    50%  {top: 0px;}
    75%  {top: 10px;}
    100% {top: 0px;}
}